<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Letisko Nitra</h1>
    </div>
  </div>
</div>
<hr>
<br>
<div class="container">
  <br>
  <div class="row" style=" border: 1px solid gray; padding: 8px;">
    <div class="col-12">
    <span class="textAlligment">
        Letisko Nitra – Janíkovce je verejné
        medzinárodné letisko s nepravidelnou dopravou a colným pracoviskom.
    </span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <img class="alligmentImg" src="assets/mapkaletiska.jpg">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      <ul class="fontStyle">
        <li>ICAO: LZNI</li>
        <li>o	Frekvencia: 123,405 MHz</li>
        <li>o	VPD: 15L/33R – 1080m – tráva</li>
        <li>o	15R/33L – 1080m – tráva</li>
        <li>o	GPS: 48°16‘46“S   / 18°07‘58“V</li>
        <li>o	Nadmorská výška: 135 m. n. m. (443 ft)</li>
      </ul>
    </div>
  </div>
</div>
<br>
