<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Letecká škola</h1>
    </div>
  </div>
</div>
<hr>
<br>
<div class="container">
  <br>
  <div class="row" style=" border: 1px solid gray; padding: 8px;">
    <div class="col-12">
    <span class="textAlligment">
        Spoločnosť AERO SLOVAKIA a.s. poskytuje výcvik pilotov vo vlastnej leteckej škole SK.DTO.07.
    </span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-10">
      <h5>U nás máte možnosť absolvovať tieto kurzy:</h5>
      <ul class="fontStyle">
        <li>Výcvikový kurz na získanie LAPL(A) SEP-land</li>
        <li>Výcvikový kurz na získanie PPL(A) SEP-land</li>
        <li>Výcvikový kurz na získanie triednej kvalifikačnej kategórie SEP-land</li>
        <li>Výcvikový kurz na získanie kvalifikačnej kategórie na nočné lety VFR – letún</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <img class="alligmentImg" src="assets/DSC_1167-1024x439.jpg">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <span>
        <b>Teóriu</b> vyučujeme v našich priestoroch, vlastnými inštruktormi,
        ktorí disponujú dlhoročnými skúsenosťami a vysokým náletom hodín na rôznych typoch lietadiel.
        Snažia sa flexibilne prispôsobiť
        potrebám záujemcov o letecký výcvik a v maximálnej miere ho plánovať podľa ich časových možností.
      </span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-8">
      <h5>Praktickú časť kurzov frekventanti lietajú na našich lietadlách typu:</h5>
      <ul class="fontStyle">
        <li>CESSNA 150</li>
        <li>CESSNA 152</li>
        <li>CESSNA 172</li>
        <li>a CESSNA 172RG.</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <img class="alligmentImg" src="assets/NRB_skola_03-1024x439.jpg">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
    <span style="font-weight: bold">
        Výcvik na motorových lietadlách pre získanie preukazu spôsobilosti Súkromného pilota lietadiel (PPL)
    </span>
    </div>
    <br>
    <br>
    <div class="col-12">
    <span class>
        Tento preukaz oprávňuje jeho držiteľa lietať len pre vlastnú potrebu. Nesmie vykonávať leteckú činnosť za úplatu.
        Minimálny vek pre začatie výcviku je 16 rokov a preukaz mu možno vydať najskôr v 17 rokoch.
        Záujemca musí spĺňať najmenej 2. triedu zdravotnej spôsobilosti. Prehliadku vykonávajú poverení lekári, ktorých zoznam Vám poskytneme.
        Kvalifikácia zapísaná v PPL(A) SEP-Land platí 24 mesiacov. Predlžuje ju letový examinátor (FE) podľa overenej leteckej praxe (náletu hodín) počas obdobia platnosti kvalifikácie, alebo na základe letového preskúšania.
      Vzhľadom na to, že pilot počas lietania komunikuje prostredníctvom rádiostanice v lietadle, musí pilot – študent absolvovať skúšku pre získanie vysvedčenia rádiooperátor (RO) v obmedzenom alebo všeobecnom rozsahu. Skúšky sa vykonávajú na základe žiadosti zaslanej na Telekomunikačný úrad SR a treba ich absolvovať pred prvým samostatným letom v rámci výcviku (prvé sólo).

    </span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <img class="alligmentImg" src="assets/NRB_Skola-1024x439.jpg">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
    <span style="font-weight: bold; color: red">
        Pozor, novinka: LAPL!
    </span>
    </div>
    <br>
    <br>
    <div class="col-12">
    <span style="font-weight: bold">
        Atraktívny nový druh licencie pre tých, čo sa chcú rýchlo naučiť lietať za menej peňazí, než stojí licencia PPL.
    </span>
    </div>
    <br>
    <br>
    <div class="col-12">
    <span>
    Licencia LAPL (A) je určená pre záujemcov, ktorí chcú mať
      lietanie výhradne ako koníčka a neplánujú si rozširovať pilotný preukaz o ďalšie kvalifikácie.
      Môžu ich však dosiahnuť náletom hodín a UP GRADE-om na PPL. Zároveň je vhodná pre tých,
      čo nechcú byť limitovaní národnou licenciou na ultraľahké lietadlá (UL).
    Záujemca sa naučí  lietať s malým lietadlom v európskom priestore, cez deň aj v noci, pričom
      môže vziať na palubu najviac 3 cestujúcich a batožinu.
    </span>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-12">
      <span style="font-weight: bold; color: red">Výhody LAPL (A):</span>
      <ul>
        <li>pre získanie licencie stačí nalietať 30 letových hodín, čo je menej, než pri PPL (A) a znamená to nižšiu vstupnú investíciu</li>
        <li>je vhodná pre študentov, seniorov alebo zaneprázdnených podnikateľov, ktorí chcú čím skôr letieť do zahraničia na svojom alebo prenajatom lietadle</li>
        <li>možnosť lietať v krajinách EASA</li>
        <li>lety s pasažiermi vďaka povolenej maximálnej vzletovej hmotnosti od 450 kg do 2 000 kg</li>
        <li>po získaní kvalifikácie VFR Night možnosť lietať aj v noci.
        </li>
      </ul>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-12">
      <img class="alligmentImg" src="assets/skola-1024x439.jpg">
    </div>
  </div>
  <br>



</div>
<br>
