<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>O nás</h1>
    </div>
  </div>
</div>
<hr>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <img class="alligmentImg" src="assets/onas.jpg">
    </div>
  </div>
  <br>
  <div class="row" style=" border: 1px solid gray; padding: 8px;">
    <div class="col-12">
    <span class="textAlligment">
      Spoločnosť Aero Slovakia a.s. bola založená v roku 1992 a je nástupníckou organizáciou časti štátneho podniku SlovAir,
      ktorý pôsobil v rámci celého Československa. Vzhľadom na meniacu sa situáciu v letectve, spoločnosť bola postupne
      modernizovaná a prispôsobovaná modernému trhu a potrebám dnešného letectva. V súčasnosti je zároveň najväčším
      prevádzkovateľom v oblasti všeobecného letectva na Slovensku.
      Jej hlavnou náplňou práce sú predovšetkým letecké práce o.i. v poľnohospodárstve a lesnom hospodárstve, servis lietadiel,
      zoznamovacie výcvikové lety, vlekanie vetroňov, predaj leteckých pohonných hmôt, prenájom lietadiel a priestorov atď.
      Spoločnosť prevádzkuje vlastnú leteckú školu. V lietadlovom parku sa nachádzajú typy Zlin Z-37A,
      Z-137T a Cessna 150, 152, 172 a 172RG. Spoločnosť sídli vo vlastnom uzavretom areáli na letisku Nitra (LZNI) v mestskej časti Janíkovce.
      Tu sa nachádza aj jej hlavné servisné stredisko, ktoré vykonáva údržbu a parkovanie lietadiel spoločnosti a ďalších zákazníkov.
    </span>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h5>Činnosti ktoré vykonávame:</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
    <ul class="fontStyle">
      <li>letecké práce v poľnohospodárstve a lesnom hospodárstve</li>
      <li>letecké práce proti škodlivým činiteľom – hasenie lesných požiarov, letecký postrek proti komárom a iným škodcom, vakcinácia líšok voči besnote…</li>
      <li>letecká škola</li>
      <li>servis leteckej techniky, sledovanie zachovania letovej spôsobilosti, CAMO</li>
      <li>vlekanie vetroňov</li>
      <li>zoznamovacie lety, lety na skúšku</li>
      <li>predaj leteckých pohonných hmôt (letecký benzín AVGAS 100LL a letecký petrolej Jet-A1)</li>
      <li>prenájom leteckej techniky </li>
      <li>prenájom kancelárskych priestorov, krytých a vonkajších parkovacích priestorov pre leteckú techniku</li>
      <li>reklamná a propagačná činnosť, prenájom priestorov k organizovaniu spoločenských udalostí a eventov atď.</li>
     <span>o	V areáli spoločnosti sídli občianske združenie AERO SLOVAKIA –
       Aviatik klub o.z., ktoré sa zaoberá záchranou a renováciou historicky cennej
       leteckej techniky.
       Exponáty sú vystavené v okolí vstupnej brány na letisku v Nitre.)</span>
    </ul>
    </div>
  </div>

</div>
